
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Teko:wght@300&family=Tektur:wght@500&display=swap');

body {
  font-family: 'Mukta', sans-serif;
   background-image: url('2.png');

    /* You can specify additional properties to control the appearance and behavior of the background image */
    background-size: cover; /* Controls how the image is sized within the element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; 
/*   background: #0c0d13 ; */
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.head{
  height: 150px;
  width: 100%;
  background-color: #0c0d13;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 5%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*logo section*/

.logo {
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

/* navbar section*/

.navbar a {
  text-align: right;

  font-size: px;
  text-decoration: none;
  font-weight: 500;
  color: rgb(255, 250, 250);
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s;
  
}

.navbar a:hover {
  color: #00abf0;
}

/*home content*/
.home {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
  text-align: center;
  background-color: #0c0d13;
}
.home-content {
  max-width: 900px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}
p {
  font-size: 12px;
  font-weight: 100;
}

/*Animation */

.scene {
  align-items: center;
  width: 10em;
  height: 10em;
  margin: 2em;
  border: 0px solid #ccc;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  right: -50%;
  perspective: 10em;
}
img {
  border: 0px solid #ccc;
  border-radius: 200px;
  height: 50px;
  width: 50px;
}
.container{
  height: 100px;
  width: 100px;
}
.square {
  width: 100%;
  height: 100%;
  background-color: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  line-height: 10em;
  text-align: center;
  color: #fff;
  border: 5px;
  border-radius: 200px;
  align-items: center;
  padding-right: 40px;
}

.square.x-axis {
  animation: x-axis-animation 5s ease-in-out 0s infinite alternate;
}

@keyframes x-axis-animation {
  from {
    transform: translateX(0em);
  }
  to {
    transform: translateX(-0em);
  }
}

.home-content p{
align-items: center;
text-align: center;
font-size: 13px;
text-shadow:  #3a4042 0.5px 0.5px ;
}

.home-content{
  border-color: #ffffff;
  border: 20px;
  border-radius: 40px;
}
.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
margin-right: auto;
margin-bottom: auto;
  margin-left: auto;
}

.btn-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 100%;
  color: #0c0d13;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 15px;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  
}

.form {
  border: 20px;
  border-radius: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  border: 3px solid #00abf0;
  border-radius: 10px;
  padding-left: 80px;
  width: 100%;
  height: 60px;
  color: #0c0d13;
  
}
textarea{
  border: 3px solid #00abf0;
  border-radius: 10px;
  padding-bottom: 20px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  font-size: 30px;
  color: #00abf0;
}
label {
  padding-bottom: 30px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  font-size: 30px;
  color: #00abf0;
}

.contact{
  align-items: center;
  text-align: center;
  margin-bottom: auto;
}

.contact-box a {
  color: #0c0d13;
  background-color: #00abf0;
  border: 15px solid #00abf0;
  border-radius: 15px;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  width: 50px;
  height: 100%;
  margin-bottom: auto;

}
.protfolio-content img {
  height: 200px;
  width: 200px;
  padding: 0%;
  border: 0px;
  border-radius: 0px;
}

.service-content table {
  


  
  color: #0c0d13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0vh;
  text-align: left;
  margin-top: auto;
  padding-left: 50px;
  padding-right: 50px;

}

.service{
  padding: 20px;
  max-width: 768px;
  background-color: #0c0d13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  background-color: #0c0d13;

margin-left: auto;
margin-right: auto;
}

.service h1{
  font-size: 30px;
  }

.service th{
  width: 33.3%;
  text-shadow: #fff 1px 1px;
    padding-left: 3%;
    font-size: 50px;
    border: 3px solid #0c0d13;
    border-radius: 20px;
    border-collapse: collapse;
    align-items: center;
    color: #00abf0;
    background-color: #0c0d13;
 

  }

  .service tr{
    padding-left: 3%;
  font-size: 50px;
  border: 3px solid #0c0d13;
  border-radius: 20px;
  border-collapse: collapse;
  align-items: center;
  color: #fff;
  background-color: #0c0d13;
  width: 33.3%;
  }

.service td {
  padding-left: 3%;
  font-size: 50px;
  border: 3px solid #0c0d13;
  border-radius: 20px;
  border-collapse: collapse;
  align-items: center;
  color: #fff;
  background-color: #0c0d13;
  width: 33.3%;
}

td a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color:#0c0d13;
  background-color: #00abf0;
  border: 4px solid #00abf0;
  border-radius: 18px;
  font-size: 40px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
  animation-name: example;
  animation-duration: 1s;
  animation: x-axis-animation 1s ease-in-out cubic-bezier(0.215, 0.610, 0.355, 1) infinite alternate;
}

@keyframes example {
  from {background-color: #0c0d13;}
  to {background-color: #fff;}
  
  from {
    transform: translateX(10em);
  }
  to {
    transform: translateX(-10em);
  }
}

h1{
  padding-top: 40px;
  text-align: center;
  color: #fff;
  align-items: center;
}







.clock{height: 100vh;
  width:100px;
  height:100px;
  background-color: #fff;
  border:4px solid #00abf0;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0,0,0, 0.9);
  display:flex;
  justify-content: center;
  align-items: center;
}

.clock span{
  position: absolute;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
}

.clock span b{
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
  font-size: 1.3rem;
  text-shadow: 0 0 10px rgba(255, 250, 250, 0.5);
  opacity: 0.75;
  color: rgba(14, 14, 16, 1);
}

.clock::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  border:2px solid white;
  border-radius: 50%;
  background-color: black;
  z-index: 2;
}

.hand{
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i{
  position: absolute;
  background-color:var(--clr);
  height:var(--h);
  width:var(--w);
  border-radius:50%;
}
